[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=LMX Converter
#Name[ru]=LMX Конвертер
GenericName=Placemark file converter
GenericName[ru]=Конвертер файлов ориентиров
Comment=Placemark (POI) converter between filetypes LMX, KML, GPX and GeoJSON
Comment[ru]=Преобразование файлов географических точек (POI) между форматами LMX, KML, GPX и GeoJSON
Keywords=converter;poi;placemark;point;geo;landmark;lmx;kml;gpx;geojson;
Keywords[ru]=конвертер;преобразование;ориентир;метка;точка;lmx;kml;gpx;geojson;
Exec=lmxconverter
#StartupNotify=false
#StartupWMClass=Lmxconverter
Terminal=false
Categories=Utility;FileTools;Geoscience;Science;Geography
Icon=lmxconverter
